@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

/* Pages */

.navigation {
  background-color: #ffffff;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  text-decoration: none;
}

/*Main-banner*/

.main-banner {
  background-image: url("../images/banner-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #ffffff;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  background-color: #ffffff;
  text-transform: uppercase;
}

.main-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
}

/*Advantages*/

.advantages-list {
  text-align: center;
  background-color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-item-large {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-large .advantages-description {
  color: #ffffff;
}

.advantages-item-even {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-odd {
  background-color: rgba(131, 179, 211, 0.2);
}
