@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  height: 100%;
}

/* Pages */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.limit-width-content {
  width: 1060px;
  margin: 0 auto;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.navigation-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -0.07%;
  width: 140px;
}

.navigation {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  width: 1060px;
  min-height: 64px;
  margin: 0 auto;
  position: relative;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list-top {
  width: 650px;
  margin-left: 168px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
}

.navigation-list-top .navigation-item:last-child {
  margin-right: 0;
}


.navigation-user {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  margin-right: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";

}

.navigation-user-link {
  display: block;
  width: 44px;
  height: 64px;

}

.navigation-user-link-search {
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.navigation-user-link-heart {
  background-image: url(../images/favorites-icon.svg);
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: center;
}

.navigation-link-btn {
  display: block;
  width: 160px;
  text-align: center;
  padding: 8px 34px;
  margin-left: 20px;
}


/*Main-banner*/

.main-banner {
  text-align: center;
}

.main-banner-images {
  color: #000000;
  background-color: #999999;
  background-image: url("../images/banner-divider.svg"), url("../images/banner-background.jpg");
  background-position: bottom center, center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  min-height: 485px;
}

.main-banner-text {
  padding: 69px;
  min-height: 282px;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

/*Advantages*/

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-item {
  flex-basis: 400px;
  min-height: 384px;
}

.advantages-img {
  display: block;
}

.advantages-item-text {
  padding: 85px;
  padding-top: 103px;
}

.advantages-item-dark {
  background-color: #82b3d3;
  color: #ffffff;
  padding-top: 92px;
}

.advantages-item-dark .advantages-description {
  color: #ffffff;
}

.advantages-item-even {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-odd {
  background-color: rgba(131, 179, 211, 0.2);
}

.complements-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
}

.complements-item {
  background-color: rgba(131, 179, 211, 0.12);
  flex-basis: 400px;
  min-height: 384px;
  padding: 85px;
  padding-top: 80px;
}

.complements-item-light {
  background-color: #ffffff;
}

.complements-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 104px;
  background-position: top;
  background-repeat: no-repeat;
}

.complements-title-home {
  background-image: url(../images/advantage-icon-home.svg);
  background-size: 75px 72px;
}

.complements-title-food {
  background-image: url(../images/advantage-icon-burger.svg);
  background-size: 74px 70px;
}

.complements-title-gifts {
  background-image: url(../images/advantage-icon-gift.svg);
  background-size: 64px 76px;
}

.complements-description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/*Find hotel*/

.find-hotel {
  text-align: center;
  min-height: 406px;
  padding: 50px;
  padding-top: 96px;
}

.find-hotel-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.find-hotel-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
}

.find-hotel-btn {
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  padding: 8px 50px;
}

/*Subscribe*/

.subscribe {
  color: #ffffff;
  background-color: #999999;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 415px;
  padding: 50px;
  padding-top: 96px;
}

.subscribe .subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe .subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form label {
  width: 452px;
  margin: 0;
  padding: 0;
}

.subscribe-form-input {
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 14px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-btn {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  display: block;
  padding: 8px 50px;
  cursor: pointer;
}

.subscribe-catalog {
  background-color: #ffffff;
  text-align: center;
  min-height: 415px;
  padding: 50px;
  padding-top: 96px;
}

.subscribe-catalog .subscribe-title {
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-catalog .subscribe-description {
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

/*Footer*/

.page-footer {
  display: flex;
  min-height: 120px;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-socials {
  width: 200px;
}

.footer-socials-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-socials-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 47px;
  height: 40px;

}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}


.footer-phone {
  margin: 0;
  margin-left: 178px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.footer-copyright {
  margin-left: auto;
}

/*Catalog header and filtres*/

.catalog-header {
  min-height: 412px;
  padding-top: 35px;
  padding-bottom: 20px;
}

.catalog-header {
  color: #ffffff;
  background-color: #999999;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 29px;
}

/*
.breadcrumbs-item::after {
  position: absolute;
  top: 10px;
  right: -20px;
  width: 7px;
  height: 10px;
background-image: url(../images/breadcrumps-divider-icon.svg);
background-repeat: no-repeat;
background-position: center;

}
*/

.breadcrumbs-link {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}



.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-icon{
  fill: #ffffff;
}

.filters-form {
  display: flex;
}

.filters-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filters-group-1 {
  width: 200px;
}

.filters-group-2 {
  width: 200px;
  margin-left: 20px;
}

.filters-group-3 {
  width: 288px;
  margin-left: 90px;
}

.filters-group-4 {
  width: 191px;
  margin-left: auto;
}

.filters-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-name {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.filters-btn-submit {
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.filters-btn-reset {
  background-color: transparent;
  padding: 8px;
}

/*Catalog sorting*/

.catalog-sort {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

.catalog-sort-result {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.catalog-sort-price {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: 200px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 296px;
  height: 53px;
  padding: 14px 20px;
}

.catalog-sort-price option {
  padding: 0;
  margin: 0;
  min-height: 21px;
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-size: 18px;
}

.sort-view {
  margin-left: auto;

}

.sort-view-item {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: solid 2px #e5e5e5;
}

.sort-view-item-current {
  border: solid 2px #000000;
}

.sort-view-item-tiles {
  background-image: url(../images/view-icon-cards.svg);
  background-repeat: no-repeat;
  background-size: 13px 14px;
  background-position: center;
}

.sort-view-item-onecard {
  background-image: url(../images/view-icon-card.svg);
  background-repeat: no-repeat;
  background-size: 13px 14px;
  background-position: center;
}

.sort-view-item-table {
  background-image: url(../images/view-icon-table.svg);
  background-repeat: no-repeat;
  background-size: 13px 14px;
  background-position: center;
}

/*Catalog cards*/

.cards {
  margin-bottom: 40px;
}

.cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.cards-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.card-img-link,
.card-title-link {
  text-decoration: none;
}

.card-img {
  display: block;
  margin-bottom: 16px;
}

.card-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-hotel-type {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-details-wrapper {
  margin-top: auto;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.card-price {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.card-link {
  height: 36px;
  padding: 8px 20px;
}

.card-favorites-btn {
  background-color: #82b3d3;
}

.card-favorites-btn-checked {
  background-color: #7db54f;
}

.card-stars {
  background-image: url(../images/hotel-star.svg);
  background-position: left;
  background-repeat: space;
  margin: 0;
  height: 17px;
  align-self: center;
}

.stars-4 {
  width: 89px;
}

.stars-3 {
  width: 66px;
}

.stars-2 {
  width: 42px;
}

.card-rating {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  height: 37px;
  padding: 8px 20px;
  text-align: center;
}

/*Pagination*/

.pagination {
  padding: 40px 0 60px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  margin: 0;
  padding: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link-current {
  color: #333333;
  background-color: #f2f2f2;
}

.pagination-link-more {
  color: #000000;
  background-color: #ffffff;
}
